#sunny{
    background-image: url(images/sunny.jpg);
    background-size: 100%;
    background-repeat:no-repeat;
}
#rain{
    background-image: url(images/rain.jpg);
    
}
#cloud{
    background-image: url(images/cloud.png);
    
}
#snow{
    background-image: url(images/snow.jpg);
    position: relative;
    top: 70px;
    
}
#clear{
    background-image: url(images/clear.jpg);
    position: relative;
    top: 70px;
    
}
#sleet{
    background-image: url(images/sleet.jpg);
    position: relative;
    top: 70px;
    
}
div {
    height: 400px;
  border-radius: 6px;
}

h1{
    position: relative;
    top: 100px;
    color: black;
}
h2{
    position: relative;
    top: 100px;
    color: black;

}
h4{
    color: black;
}
hr{
    position: relative;
    top: 120px;
    height: 1px;
    color: #123455;
    background-color: #123455;
    
}
table{
    color:black;
    position: relative;
    top: 100px;
}
th{
    padding: 15px;
}